
<div class="homeFullPage">
  <div id="imageDiv">
    <div class="slogan">
      <h2>Together we can make<br> a difference!</h2>
      <button mat-raised-button routerLink="/projects">Get involved</button>
    </div>
    <p class="website1">https://healingproperties.org/sober-living/group-of-people-on-peak-mountain-climbing-helping-team-work-tr/</p>
  </div>

<div id="darkDiv">
    <div class="cards" (click)="redirect('volunteer');">
      <p class="website2">https://www.ecoliteracy.org/article/what-comes-after-diversity-globalism-and-sustainability</p>
      <div class="image__overlay image__overlay--primary">
        <div class="image__title">Be a Volunteer</div>
          <p class="image__description">
            Create an account
          </p>
      </div>
    </div>

    <div class="cards" (click)="redirect('org');">
      <p class="website3">https://blog.idexlab.com/collaborative-innovation-definition</p>
      <div class="image__overlay image__overlay--primary">
        <div class="image__title">Add your Organization</div>
        <p class="image__description">
          Create an account
        </p>
      </div>
      <footer> <small>&copy; Copyright 2023, Be a Volunteer. All Rights Reserved</small> </footer>
    </div>

  
  </div> 

</div>