.homeFullPage{
  width: 100%;
  height: 100%;
  position:fixed;
  padding:0;
  margin:0;
  overflow-y: scroll;
  top:0;
  left:0;
}

.slogan{
  margin-left: 45%;
  margin-right: 11%;
  width: 600px;
}

.slogan>button {
  margin-left: 95%;
  width: 25%;
  background-color: rgb(21, 21, 21);
  color:antiquewhite;
}

.slogan>h2{
  margin-top: 10%;
  width: 800px;
  text-align: right;
}